.git
.github
.env
.env.*
**/.env
**/.env.*
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
**/*.egg-info
**/*.py[cod]
**/build
**/htmlcov
**/.coverage
backend/tests
backend/app/testing
docs
frontend
ml/src
ml/tests
scripts
